*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info/
*.sql.gz
*.secrets
.coverage
.cache/
.project
.idea/
.pydevproject
.python-version
.idea/workspace.xml
.DS_Store
.sass-cache/
.vagrant/
/dist/
/docs/_build/
/env/
/logs/
/src/node_modules/
/web/media
/stats/
{{ project_name }}/settings/local.py
