*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info/
.project
.idea/
.pydevproject
.idea/workspace.xml
.DS_Store
.sass-cache/
.vagrant/
Gemfile.lock
/dist/
/docs/_build/
/env/
/logs/
/node_modules/
/web/media
/stats/
{{ project_name }}/settings/local.py
