{% load mptt_tags %}{% if menu_items %}
<ul class="nav navbar-nav">
  {% recursetree menu_items %}{# node is a Page #}
  <li class="{% if node.is_active %}active{% endif %}{% if node.is_last_child %} last{% endif %}">
    {% if children %}
      <a href="{{ node.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ node.title }} <span class="caret"></span></a>
      <ul class="dropdown-menu">{{ children }}</ul>
    {% else %}
      <a href="{{ node.url }}">{{ node.title }}</a>
    {% endif %}
  </li>{% endrecursetree %}
</ul>
{% else %}
<!-- No menu items returned -->
{% endif %}
