{% extends "base.html" %}{% load i18n %}

{% block bodyid %}page404{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}{% trans "Permission denied!" %}{% endblock %}

{% block content %}
              <h1 class="pagetitle">{% trans "Permission denied!" %}</h1>
              <div id="content" class="clearfix">
                {% blocktrans trimmed %}
                <p>We're sorry but you are not permitted to access this page.</p>
                {% endblocktrans %}
                <p class="errorpage-back-link">{% trans 'Back to the <a href="/">home page</a>.' %}
              </div><!-- /content -->
{% endblock %}
