"""
Local settings for development.
"""
from .project import INSTALLED_APPS, MIDDLEWARE_CLASSES

# Output to console
import logging, sys
logging.basicConfig(level=logging.DEBUG, stream=sys.stderr)

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# Debugging assistance

INSTALLED_APPS += (
    #'debug_toolbar',
    #'django_extensions',
    'debugtools',
)

MIDDLEWARE_CLASSES += (
    #'debug_toolbar.middleware.DebugToolbarMiddleware',
    'debugtools.middleware.XViewMiddleware',
)

DEBUG_TOOLBAR_CONFIG = {
    'INTERCEPT_REDIRECTS': False
}

DEBUG_TOOLBAR_PANELS = (
    #'debug_toolbar.panels.version.VersionDebugPanel',
    #'debug_toolbar.panels.timer.TimerDebugPanel',
    #'debug_toolbar.panels.settings_vars.SettingsVarsDebugPanel',
    #'debug_toolbar.panels.headers.HeaderDebugPanel',
    #'debug_toolbar.panels.request_vars.RequestVarsDebugPanel',
    'debug_toolbar.panels.sql.SQLDebugPanel',
    'debug_toolbar.panels.templates.TemplateDebugPanel',
    'debug_toolbar.panels.cache.CacheDebugPanel',
    #'debug_toolbar.panels.signals.SignalDebugPanel',
    'debug_toolbar.panels.logger.LoggingPanel',
)
