{% extends "base.html" %}{% load staff_toolbar_tags %}

{% block headtitle %}{{ page.title }}{% endblock %}
{% block meta-title %}{% if page.meta_title %}{{ page.meta_title }}{% else %}{{ block.super }}{% endif %}{% endblock %}
{% block meta-keywords %}{{ page.meta_keywords }}{% endblock %}
{% block meta-description %}{{ page.meta_description }}{% endblock %}

{% block extrahead %}{{ block.super }}{% if page.meta_robots %}
    <meta name="robots" content="{{ page.meta_robots }}" />
{% endif %}{% endblock %}

{% block staff_toolbar %}
  {% set_staff_object page %}
  {{ block.super }}
{% endblock %}
