{% extends "base.html" %}

{% block bodyid %}page404{% endblock %}
{% block bodyclass %}{% endblock %}
{% block headtitle %}Pagina niet gevonden!{% endblock %}

{% block main %}
                <h2 class="pagetitle">Pagina niet gevonden</h2>
                <div id="content" class="clearfix">
                  <p>
                    De pagina die u opgevraagd heeft bestaat niet.
                  </p>
                  <p>
                    Terug naar de <a href="/">start pagina</a>.
                  </p>
                </div><!-- /content -->
              </div>
{% endblock %}
