// --- stretch page by default

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
}

// ---- content layout

#main {
  padding-top: 51px;  // to deal with navbar-fixed
  position: relative;
}
