@charset "utf-8";

// Place any styles here that should only be used for textual content.
// The default styles come from: bootstrap/_type.scss
// Also consider overriding the variables, so bootstrap styles are rendered correctly.


/* ---- plugins ---- */

.text {
  // Place any styles here that should only be used for the 'text' plugin.
  // The tinymce.scss will also pick up these styles.
}

iframe {
  border: 1px solid #ccc;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

figure.picture {
  // Picture plugin in the CMS
  margin: 1em 0;

  &.align-left {
    clear: left;
    float: left;
    margin: 0 1em 1em 0;
  }

  &.align-right {
    clear: right;
    float: right;
    margin: 0 0 1em 1em;
  }

  &.align-center {
    text-align: center;
  }
}

#homepage figure.picture {
  text-align: center;
}
