// All variables that are used throughout the CSS.
//
// This file also overrides Bootstrap variables.
// For a complete overview of all variables to override, see:
// * node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
// * https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

// mixins
$image-url-path: '../img/';
$fonts-url-path: '../fonts/';

// Base settings
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 14px;

// Base colors
$text-color: #333;
$body-bg: #fff;

// Breadcrumb
$breadcrumb-bg: #fff;
$breadcrumb-padding-horizontal: 5px;

// Amend with the defaults from bootstrap.
@import "bootstrap/variables";
